.DS_Store
.swp
.php~
stats/
errors/
deploy.sh
upload
upload/
files/
uploads/
stats/*
bitrix
*.sql
*.log
*filename.txt
.idea/*
.sass-cache/*
*.iml
.htaccess
.htaccess.swp
.htpasswd
bower.json
.bowerrc
*_log.txt
/package.json
/package-lock.json
robots.txt
desktop_app
license.*
readme.html
web.config
install.config